<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BusinessConfigLocation" value="C:\Users\terrabyte\Desktop\BusinessConfigurations.json"/>
  </appSettings>


  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=InitCat;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\TestDB.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>